utils/flows.json
[{"id":"589f99e2.f30b18","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"540bb556.207f9c","type":"mqtt in","z":"589f99e2.f30b18","name":"from_rasp4B_state","topic":"home/rasp_4B/state","qos":"1","datatype":"auto","broker":"49b108fc.5ad008","x":370,"y":480,"wires":[["6490785b.726768"]]},{"id":"6490785b.726768","type":"debug","z":"589f99e2.f30b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":567,"y":480,"wires":[]},{"id":"174ee928.b993e7","type":"inject","z":"589f99e2.f30b18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":140,"wires":[["a9d443d0.1745c","6ece178e.7d6078"]]},{"id":"48e3ebac.64c544","type":"inject","z":"589f99e2.f30b18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":90,"y":180,"wires":[["a9d443d0.1745c","6ece178e.7d6078"]]},{"id":"392fd29.924192e","type":"file in","z":"589f99e2.f30b18","name":"Bearing","filename":"ABSOLUTE_PATH_ON_YOUR_SYSTEM\\LSTM_Wavelet_MQTT\\AirCompressorDataset\\Bearing\\preprocess_Reading10.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":600,"y":80,"wires":[["6580cb5e.bfebe4"]]},{"id":"e46d174f.3af9c8","type":"file in","z":"589f99e2.f30b18","name":"Flywheel","filename":"ABSOLUTE_PATH_ON_YOUR_SYSTEM\\LSTM_Wavelet_MQTT\\AirCompressorDataset\\Flywheel\\preprocess_Reading20.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":600,"y":120,"wires":[["6580cb5e.bfebe4"]]},{"id":"61422f3e.10b95","type":"inject","z":"589f99e2.f30b18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":90,"y":80,"wires":[["a9d443d0.1745c","6ece178e.7d6078"]]},{"id":"d13a4541.9944b8","type":"inject","z":"589f99e2.f30b18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":90,"y":220,"wires":[["a9d443d0.1745c","6ece178e.7d6078"]]},{"id":"684f6d9d.15ed74","type":"inject","z":"589f99e2.f30b18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":90,"y":260,"wires":[["a9d443d0.1745c","6ece178e.7d6078"]]},{"id":"948f8117.807db","type":"inject","z":"589f99e2.f30b18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":90,"y":300,"wires":[["a9d443d0.1745c","6ece178e.7d6078"]]},{"id":"3f05c988.4bb0c6","type":"inject","z":"589f99e2.f30b18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":90,"y":340,"wires":[["a9d443d0.1745c","6ece178e.7d6078"]]},{"id":"3edc6f2b.6e087","type":"inject","z":"589f99e2.f30b18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"num","x":90,"y":380,"wires":[["a9d443d0.1745c","6ece178e.7d6078"]]},{"id":"7b53228e.3f1cbc","type":"file in","z":"589f99e2.f30b18","name":"Healthy","filename":"ABSOLUTE_PATH_ON_YOUR_SYSTEM\\LSTM_Wavelet_MQTT\\AirCompressorDataset\\Healthy\\preprocess_Reading2.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":600,"y":20,"wires":[["6580cb5e.bfebe4"]]},{"id":"62db83cc.a48e1c","type":"file in","z":"589f99e2.f30b18","name":"LIV","filename":"ABSOLUTE_PATH_ON_YOUR_SYSTEM\\LSTM_Wavelet_MQTT\\AirCompressorDataset\\LIV\\preprocess_Reading70.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":590,"y":160,"wires":[["6580cb5e.bfebe4"]]},{"id":"d3b77994.abf098","type":"file in","z":"589f99e2.f30b18","name":"LOV","filename":"ABSOLUTE_PATH_ON_YOUR_SYSTEM\\LSTM_Wavelet_MQTT\\AirCompressorDataset\\LOV\\preprocess_Reading2.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":590,"y":200,"wires":[["6580cb5e.bfebe4"]]},{"id":"72455b86.e1ad54","type":"file in","z":"589f99e2.f30b18","name":"NRV","filename":"ABSOLUTE_PATH_ON_YOUR_SYSTEM\\LSTM_Wavelet_MQTT\\AirCompressorDataset\\NRV\\preprocess_Reading95.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":590,"y":240,"wires":[["6580cb5e.bfebe4"]]},{"id":"38010934.aef676","type":"file in","z":"589f99e2.f30b18","name":"Piston","filename":"ABSOLUTE_PATH_ON_YOUR_SYSTEM\\LSTM_Wavelet_MQTT\\AirCompressorDataset\\Piston\\preprocess_Reading3.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":590,"y":280,"wires":[["6580cb5e.bfebe4"]]},{"id":"6816b245.3d74fc","type":"file in","z":"589f99e2.f30b18","name":"Riderbelt","filename":"ABSOLUTE_PATH_ON_YOUR_SYSTEM\\LSTM_Wavelet_MQTT\\AirCompressorDataset\\Riderbelt\\preprocess_Reading3.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":600,"y":320,"wires":[["6580cb5e.bfebe4"]]},{"id":"a9d443d0.1745c","type":"switch","z":"589f99e2.f30b18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":8,"x":390,"y":80,"wires":[["7b53228e.3f1cbc"],["392fd29.924192e"],["e46d174f.3af9c8"],["62db83cc.a48e1c"],["d3b77994.abf098"],["72455b86.e1ad54"],["38010934.aef676"],["6816b245.3d74fc"]]},{"id":"6ece178e.7d6078","type":"delay","z":"589f99e2.f30b18","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":400,"wires":[["693dbe2c.eae4e"]]},{"id":"693dbe2c.eae4e","type":"mqtt out","z":"589f99e2.f30b18","name":"to_rasp_4B/start","topic":"home/rasp_4B/start","qos":"1","retain":"true","broker":"49b108fc.5ad008","x":580,"y":400,"wires":[]},{"id":"6580cb5e.bfebe4","type":"play audio","z":"589f99e2.f30b18","name":"","voice":"0","x":810,"y":260,"wires":[]},{"id":"49b108fc.5ad008","type":"mqtt-broker","z":"","name":"mosquitto","broker":"192.168.1.4","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]